<div class="example-container">
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Escola</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>email</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Número do Telefone</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Matricula</mat-label>
        <input matInput>
    </mat-form-field>

    <button mat-raised-button color="primary" >CANCELAR</button>
    <button mat-raised-button color="primary" >EDITAR</button>


</div>