<h1 mat-dialog-title>Editar conteúdo</h1>
<div mat-dialog-content class="editBody">

    <div class="form">
        <label>
            <span>Nome</span>
            <input (input)="nome=$event.target.value" value="{{data.nome}}">
        </label>
    </div>

    <div class="form">
        <label>
            <span>Matricula</span>
            <input (input)="cdMatricula=$event.target.value" value="{{data.cdMatricula}}">
        </label>
    </div>

    <div class="form">
        <label>
            <span>Escola</span>
            <input (input)="escola=$event.target.value" value="{{data.escola}}">
        </label>
    </div>

    <div class="form">
        <label>
            <span>Email</span>
            <input (input)="email=$event.target.value" value="{{data.email}}">
        </label>
    </div>

    <div class="form">
        <label>
            <span>Número de Telefone</span>
            <input (input)="numTelefone=$event.target.value" value="{{data.numTelefone}}">
        </label>
    </div>


    <button mat-raised-button color="primary" class="cancelar" (click)="close()" >CANCELAR</button>
    <button mat-raised-button color="primary" class="salvar" (click)="submit()" >SALVAR</button>
</div>
